<work-item-container>
    <header>
        <label class="title">@Work.Name</label>
    </header>

    <a href="@WorkHelper.GetWorkItemUrl(Work)" style="@(Style)">
        <work-item>
            <label>@Work.Name</label>
            <year>@Work.Date.ToYearString()</year>
        </work-item>
    </a>
</work-item-container>

@code {
    [Parameter, EditorRequired] public Work Work { get; set; } = default!;

    public string Style => $"background-image: url(\"{WorkHelper.GetImageUrl(Work)}\")";
}
