@page "/education"
@using Portfolio.Shared
@using Portfolio.Shared.Entities
@using Portfolio.Client.Code

<PageTitle>Education | @Portfolio.Name</PageTitle>

@foreach (var education in Portfolio.EducationHistory)
{
    <education>
        <h2><degree>@education.Degree</degree> at <institution>@education.Institution</institution></h2>
        <aside>
            <graduation-date><i class="fa-solid fa-graduation-cap"></i> Graduated @education.GraduationDate.ToMonthYearString()</graduation-date>
            <gpa><i class="fa-solid fa-book"></i> GPA @education.GPA</gpa>
        </aside>
        <section>
            <ul>
                @foreach (var item in education.Achievements)
                {
                    <li>@item</li>
                }
            </ul>
        </section>
    </education>
}


@code {
    [CascadingParameter] public SitePortfolio Portfolio { get; set; } = default!;
}