@page "/work/{Name}"

<work-page>
    @if (work != null)
    {
        <header>
            <h2>@work.Name - @work.Date.ToYearString()</h2>
            <a href="/"><i class="fa-regular fa-x"></i></a>
        </header>
        <section>
            <description>
                @foreach (var paragraph in work.Description.Split('\n'))
                {
                    <p>@paragraph</p>
                }
            </description>
            @if (!string.IsNullOrEmpty(work.File))
            {
                <a href="@work.File" target="_blank">@work.File.ToUpper() <i class="fa-solid fa-up-right-from-square"></i></a>
            }
        </section>
        <images>
            @foreach (var imageSet in work.ImageSets)
            {
                <image-set style="@($"--image-count: {imageSet.Images.Count}")">

                    @if (!string.IsNullOrEmpty(imageSet.VideoName))
                    {
                        <video controls poster="@(work.GetImageUrl(imageSet.VideoPoster))">
                            <source src="@(work.GetVideoUrl(imageSet.VideoName))" type="video/mp4" />
                        </video>
                    }
                    else
                    {
                        @foreach (var image in imageSet.Images)
                        {
                            <img class="@(image.Rounded ? "rounded" : "")" src="@(work.GetImageUrl(image.Name))" alt="@image.Alt" />
                        }
                    }
                </image-set>
            }
        </images>
    }
    else
    {
        <h2>Page not found :(</h2>
    }
</work-page>


@code {
    [Parameter] public string Name { get; set; } = "";

    private Work? work;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Name))
        {
            work = WorkHelper.GetWorkItem(Name);
        }
    }
}
