@page "/work/{Company?}"
@using Portfolio.Shared
@using Portfolio.Shared.Entities

<PageTitle>Work | @Portfolio.Name</PageTitle>

<work-page>
    <nav>
        @foreach (var work in Portfolio.WorkHistory)
        {
            <Button Url="@GetWorkUrl(work)">@work.CompanyName</Button>
        }
    </nav>

    <work>
        @if (Work != null)
        {
            <header>
                <h2>
                    <position>@Work.Position</position> at
                    <Company Name="@Work.CompanyName" Url="@Work.CompanyUrl" />
                </h2>
            </header>
            <aside>
                <location><i class="fa-solid fa-location-dot"></i> @Work.Location</location>
                <dates><i class="fa-solid fa-calendar"></i> @StartDate - @EndDate</dates>
            </aside>
            <section>
                <ul>
                    @foreach (var item in Work.Responsibilities)
                    {
                        <li>@item</li>
                    }
                </ul>
            </section>
            @if (Work.TechStack.Any())
            {
                <section>
                    <h3>Tech Stack</h3>
                    <TechStack Technologies="Work.TechStack" />
                </section>
            }
            @if (Work.Projects.Any())
            {
                <section>
                    <h3>Projects</h3>
                    <ProjectList Projects="Work.Projects" />
                </section>
            }
        }
    </work>
</work-page>

